<!DOCTYPE html>
    <head>
        <title>Checkmate</title>
        <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>

<!--------   Nav/Hamburger Menu --(STYLESHEET REF= Style 1)--------->
<div class="home-header"
<div class="banner">
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
      
      <ul id="menu">
        <a href="/"><li>Home</li></a>
        <a href="./about.html"><li>About</li></a>
        <a href="/"><li>My Lists</li></a>
        <a href="login.html"><li>Login</li></a>
       </ul>
    </div>
  </nav>
</div>

<div class="todo-container">
    <p>Checkmate is an online application to create to-do lists for
         any occasion, whether it be personal or business related. To-do lists help people 
         and businesses to be more organised when trying to reach a goal. A list can make 
         everything more manageable as people can see a clear outline of the completed
         and uncompleted tasks. Thus keeping individuals and businesses mentally focused. </p>

         <i class="fab fa-github"></i>
</div>
       
</body>