* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        background-image: url('../imgs/checkmate_background.jpg'); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .todo-container {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(201, 198, 198, 0.9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px white;
    }
    .todo {
    width: 500px;
    }
    .todo-container h2 {
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    }
    .todo-header input {
    width: 92%;
    border: none;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    height: 35px;
    font-family: 'Candal', sans-serif;
    }
    .todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: white;
    }
    .todo-container ul {
    list-style: none;
    }
    .todo-list-item {
    padding: 10px;
 
    margin-top: 10px;
    border-bottom: solid;
    border-radius: 5px;
    color: white;
    font-family: 'Candal', sans-serif;
    background: none;
    display: flex;
    flex-direction: row;
    }
    .todo-list-item form {
    width: 100%;
    display: flex;
    }
    .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    }
    .todo-list-item button {
    color: rgb(73, 153, 73);;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(255, 255, 255);
    }
    .todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    color: grey;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color:white;
    margin-left: 5px;
    }
    .todo-list-item div {
    flex-grow: 2;
    }
    .todo-list-item .edit {
   color: rgb(73, 153, 73);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
    }
    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
    }

    .fa-plus{
        color: rgb(73, 153, 73);
        font-size: 25px;
    }

    .fa-edit, .fa-times, .fa-check{
        color: white;
        font-size: 15px;
    }
    .strikethrough{
        text-decoration: line-through;
        text-decoration-color: grey;

    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: grey;
         /* Firefox */
      }
      .home-header { 
        padding: 60px;
        text-align: center;
        background:rgba(255, 255, 255, 0.9);
        background-image: url(../imgs/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      
      }

      /* -------Style: 1. Nav/Hamburger Menu Styling Start--------*/

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
 
}

#menuToggle a
{
  text-decoration: none;
  color: black;
  font-family: 'Quicksand', sans-serif;
  transition: color 0.3s ease;

}

#menuToggle a:hover
{
  color:  #83e85a;
}


#menuToggle input
{
  display: block;
  width: 220px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 45px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 2px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Click menu and change to X mark */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding: 80px;
  padding-top: 125px;
  background:white;
  opacity: 0.8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 5px 0;
  font-size: 22px;
}



#menuToggle input:checked ~ ul
{
  transform: none;
}

.banner{
    background: red;
}



  .done {
    color: rgb(73, 153, 73);
  }
  
  /* mouse over link */
  .fa-check:hover {
    color: rgb(73, 153, 73);
  }
  /* mouse over link */
  .fa-times:hover {
    color: red;
  }
  .fa-edit:hover {
    color: orange;
  }
  }
  .home-header {
    padding: 60px;
    text-align: center;
    background:rgba(255, 255, 255, 0.9);
    background-image: ;
    z-index: 99;
  }


  .jumbotron{
   
    opacity: 85%;
    border-radius:50px ;
    margin: 120px;
    background-color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size:15px;
    height: 450px;
    text-align: center
}

h3 {
  font-size: 10px;
  color: red;
}

.col{
  text-align: center;
}
