* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: #cabbe9;
    }
    .todo-container {
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .todo {
    width: 500px;
    }
    .todo-container h2 {
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    }
    .todo-header input {
    width: 92%;
    border: none;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    height: 35px;
    font-family: 'Candal', sans-serif;
    }
    .todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    height: 35px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: white;
    }
    .todo-container ul {
    list-style: none;
    }
    .todo-list-item {
    padding: 10px;
 
    margin-top: 10px;
    border-bottom: solid;
    border-radius: 5px;
    color: white;
    font-family: 'Candal', sans-serif;
    background: none;
    display: flex;
    flex-direction: row;
    }
    .todo-list-item form {
    width: 100%;
    display: flex;
    }
    .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    }
    .todo-list-item button {
    color: #CABBE9;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(255, 255, 255);
    }
    .todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    color: #CABBE9;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color:white;
    margin-left: 5px;
    }
    .todo-list-item div {
    flex-grow: 2;
    }
    .todo-list-item .edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
    }
    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
    }

    .fa-plus{
        color: #cabbe9;
        font-size: 25px;
    }

    .fa-edit, .fa-times{
        color: white;
        font-size: 15px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: grey;
         /* Firefox */
      }
